@import "styles/utils";

.button {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &.primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #3D8168;
    border-radius: 8px;

    @include media(">desktop") {
      transition: background 0.3s;

      @include media(">desktop") {
        &:hover {
          background: #1A4032;
        }
      }
    }
  }

  .iconWrapper {
    display: flex;
    margin-right: 11px;
  }
}
